*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard', 'Poppins';
    line-height: 1.5;
    -webkit-font-smoothing: antialiased; 
}
li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
button{
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
}
input,textarea{
    outline: none;
}